{% extends 'base.html.twig' %}

{% block title %}Discipline index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center my-5">Disciplines</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for discipline in disciplines %}
                <tr>
                    <td>
                        <img class="admin-picture" src="{{ asset('uploads/discipline/' ~ discipline.picture) }}" alt="{{ discipline.picture }}" title="{{ discipline.picture }}">
                    </td>
                    <td>{{ discipline.name }}</td>
                    <td>{{ discipline.description }}</td>
                    <td>
                        <a class="btn btn-secondary" href="{{ path('admin_discipline_edit', {'id': discipline.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun résultat trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center mt-5">
            <a class="btn btn-secondary" href="{{ path('admin_discipline_new') }}">Ajouter</a>
        </div>
        <div class="text-right">
            <a class="btn btn-secondary mt-5" href="{{ path('admin_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
