{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="accueil">
        <div class="container">
            <h1 class="text-center mt-5">Introduction</h1>
            <div class="row mt-5">
                <div class="col text-center">
                    <p>Bienvenue sur Yuni Cycle, le site spécialié dans la pratique du monocycle</p>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row justify-content-around">
                    {% for home in homes %}
                        <div class="card m-4" style="width: 22rem;">
                            <img class="card-img-top" src="{{ asset('uploads/home/' ~ home.picture) }}" alt="{{ home.name }}">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ home.name }}</h5>
                                <p class="card-text">{{ home.description }}</p>
                                <div class="text-center">
                                    <a href="{{ home.path }}" class="btn btn-primary">Accéder</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
