{% extends 'admin.html.twig' %}

{% block title %}Carousel index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-5">Carousel</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Image</th>
                <th>Page</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for carousel in carousels %}
                <tr>
                    <td>
                        <img class="idImage" src="{{ asset('uploads/path/' ~ carousel.path) }}" alt="{{ carousel.path }}" title="{{ carousel.path }}">
                    <td>{{ carousel.page }}</td>
                    <td>{{ carousel.updatedAt ? carousel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('admin_carousel_edit', {'id': carousel.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun résultat trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center mt-5">
            <a class="btn btn-secondary" href="{{ path('admin_carousel_new') }}">Ajouter</a>
        </div>
        <div class="text-right">
            <a class="text-center btn btn-secondary mt-5" href="{{ path('admin_index') }}">Retour</a>
        </div>
    </div>
{% endblock %}
