{% block stylesheets %}
    {{ encore_entry_link_tags('map') }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    <script> let map = L.map('map').setView([47.878264, 1.9258559], 13);

        function initMap() {
            L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
                attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
                minZoom: 5,
                maxZoom: 18
            }).addTo(map);
        }

        window.onload = function () {
            initMap();
        };

        let coordinates = [];
        map.setView([46.3630104, 2.9846608], 6);
        {% for club in clubs %}
        coordinates = [{{ club.latitude }}, {{ club.longitude }}];

        let club{{ club.id }} = L.marker(coordinates)
            .addTo(map);

        club{{ club.id }}.bindPopup("<b>{{ club.name }}</b>");

        {% endfor %}
    </script>
    <script>
        const Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });

        const OpenStreetMap_France = L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; Openstreetmap France | &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        const Stadia_AlidadeSmoothDark = L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}{r}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        });

        let basemaps = {
            "Standard": OpenStreetMap_France,
            "Sombre": Stadia_AlidadeSmoothDark,
            "Satellite": Esri_WorldImagery,
        };

        let overlays = {
            // "Layer1": position1,
        }

        L.control.layers(basemaps,overlays,{collapsed:true}).addTo(map);

        //position1.on("add",function(){
        //    position2.addTo(map);
        //});
    </script>
{% endblock %}
